@import "tailwindcss";

:root {
  color-scheme: light;
  --background: #ffffff;
  --foreground: #171717;
  --font-your-hero-font: 'Geist', sans-serif; /* Unnodaiya font name-ah inga replace panniko, e.g. Geist, Plus Jakarta Sans, etc. */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-your-hero-font: var(--font-your-hero-font);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-your-hero-font), Arial, Helvetica, sans-serif;
}